# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr
*.swp
*~
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Build outputs
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_

# OS files
.DS_Store
Thumbs.db

# Игнорируем сгенерированные растровые иконки
**/mipmap-hdpi/ic_launcher*.webp
**/mipmap-mdpi/ic_launcher*.webp
**/mipmap-xhdpi/ic_launcher*.webp
**/mipmap-xxhdpi/ic_launcher*.webp
**/mipmap-xxxhdpi/ic_launcher*.webp
**/mipmap-nodpi/ic_launcher*.png